<style type="text/css">

		.navbar{
			background-color:rgba(0,0,0,1);  /*transparent black */
			padding-top: 0.5%;
			padding-bottom: 0.5%;
			font-family:'Lato', sans-serif;
			color:white !important;
		}
		
		.bkgd{background-color: #F5F5F5	;
				}   /*whitefox grey*/
	
		.fsze{
			font-size: larger
		}
		.bkgd2{
			background-color: #303030;  /* dark grey*/
				
		}
		.whitefnt{
			color:white;
		}
		.bkgd3{
			background-color: black;
				

		}
		.container-custom1
		{
			padding-top:6%;
			padding-bottom:6%; 
		}
		.container-custom2
		{
			padding-top:3%;
			padding-bottom:3%; 
		}

		.contentmargin{
			margin-top:100px;
			margin-bottom: 20px;

		}
		
		.panel{
			box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
			font-family:verdana;	
		}

		.fa {
		 
		}
		.fa-linkedin {
		  background: #007bb5;
		  color: white;

		}
		.fa-codepen{
			color:black;
		}
		.lato{
			font-family:'Lato';
		}
		.greyfnt
		{
		color:#BEBEBE; /*X11 grey*/
		}

		.contentmargin2{
			margin-bottom:5%;
		}

		.spillimg{
			overflow:hidden;
		}

		.vertical-align{
      display:flex;
      align-items:center;
    }
    	.portraitpic{
		  margin-left: 20px;
		  margin-bottom: 10px;
    	}

	</style>